<%layout("/layouts/boilerplate")%>
<div class="d-grid gap-2">
<form action="/login" method="get">
    <button class="btn btn-primary" type="submit">Login</button>
</form>
<form action="/signup" method="get">
    <button class="btn btn-primary" type="submit">Signup</button>
</form>
</div>   


