<%layout("/layouts/boilerplate")%>

    <div class="card text-center mb-2 mt-3 offset-5" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Created By, Ranjan Hanra</h5>
        <p class="card-text">BCA student focused on DSA and Development.</p>
        <a href="https://www.linkedin.com/in/ranjan-hanra" target="_blank" class="btn btn-primary">See Linkedin</a>
    </div>
    </div>

